p{
    display: inline;
    color: #c1682d;
    font-size: x-large;
    text-decoration: none;
}
a{
     padding-left:1em;
     border: 0px;
     color: #c1682d;
    font-size: large;
}
nav{
    background-color: #e3f2fd;
}
img{
    width: 55%;
    opacity: 0.8;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}