<div class="form-horizontal">
    <p class="form-center">Search Books</p>
    <div class="form-row">
            <label class="col-sm-2 col-form-label">Title</label>
            <input [(ngModel)] = 'title'/>
    </div>
    <div class="form-row">
        <label class="col-sm-2 col-form-label">Category</label>
        <select [(ngModel)]="category">
            <option *ngFor="let item of categoryList" [ngValue]="item">{{item}}</option>
        </select>
    </div>
    <div class="form-row">
        <label class="col-sm-2 col-form-label">Author</label>
        <input [(ngModel)] = 'author'/>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Price</label>
        <input [(ngModel)] = 'price' type='number'/>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Publisher</label>
        <input [(ngModel)] = 'publisher'/>
    </div>
    <div class="form-center">
        <button class="btn btn-primary" (click)='searchBooks()'>Search</button>
    </div>
    <div *ngIf="message == ''">
        <p class="successMessage">Search Result {{books.length}} records found</p>
    </div>
</div>
<div *ngIf="books.length>0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
     
    <table class="table table-hover">
        <thead>
            <tr class="table-primary text-md-start">
                <th *ngFor="let column of displayedColumns">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info text-dark" *ngFor="let book of books" (click)="tableRowClicked(book)">
                <td>{{books.indexOf(book)+1}}</td>
                <td >{{book.title}}</td>
                <td>{{book.logo}}</td>
                <td>{{book.category}}</td>
                <td>{{book.authorUserName}}</td>
                <td>{{book.authorName}}</td>
                <td>{{book.price}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.publishedDate}}</td>
                <td>{{book.active}}</td>
            </tr>
        </tbody>
    </table>

</ng-template>
<ng-template #elseBlock><label class="form-horizontal validationMessage">{{message}}</label></ng-template>
