<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="https://www.w3schools.com/howto/img_avatar.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="50"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors.required">Please specify name</div>
          <div *ngIf="name.errors.minlength">
            Provide at least 3 characters name
          </div>
          <div *ngIf="name.errors.maxlength">
            Provide at most 50 characters name
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="userName">Username</label>
          <input
            type="text"
            class="form-control"
            name="userName"
            [(ngModel)]="form.userName"
            required
            minlength="3"
            maxlength="20"
            #userName="ngModel"
          />
          <div class="alert-danger" *ngIf="userName.errors && f.submitted">
            <div *ngIf="userName.errors.required">Username is required</div>
            <div *ngIf="userName.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="userName.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="emailId">Email</label>
          <input
            type="email"
            class="form-control"
            name="emailId"
            [(ngModel)]="form.emailId"
            required
            email
            #emailId="ngModel"
          />
          <div class="alert-danger" *ngIf="emailId.errors && f.submitted">
            <div *ngIf="emailId.errors.required">Email is required</div>
            <div *ngIf="emailId.errors.email">
              Please enter valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Roles</label>
          <div class="form-control" style="display:inline;">
            <input style="display:inline-block;" type="checkbox" name="author" [(ngModel)]="form.author" value=true #author="ngModel"/>
            &nbsp;
            <label style="display:inline-block;" for="author">Author</label>
            &nbsp;
            <input style="display:inline-block;" type="checkbox" name="reader" [(ngModel)]="form.reader" value=true #reader="ngModel"/>
            &nbsp;
            <label style="display:inline-block;" for="reader">Reader</label>
          </div>
        </div>
        <br>
        <div class="form-group"> 
          <div *ngIf="form.author!=true && form.reader!=true">
              <button class="btn btn-primary btn-block" [disabled]="true">Sign Up</button>
          </div> 
          <div *ngIf="form.author == true || form.reader == true">
              <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
  